.bag{
    width: 500px;
    height: 100vh;
    background-color: #000;
    position:absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
}
.bag_product{
    width:90%;
    background: white;
    height: 60px;
    border: 1px solid black;
    display: flex;
    color: #000;
}
.bag_product_img_box{
    width: 100px;
    height: 60px;
}

.bag_product_img{
    width: 100%;
    height: 60px;
}

img{
    width: 100%;
    height: 60px;
}

.bag_product_information{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
}

.bag_product_information_sale{
    display: flex;
    justify-content: space-between;
}
.bag_product_information_sale_counter{
    display: flex;
    width: 60px;
    align-items: center;
    border-radius: 8px;
    gap: 10px;
    margin-right: -10px;
}

.plus,
.count,
.minus{
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.minus{
    margin-top: -5px;
}

.plus,
.minus{
cursor: pointer;
}