* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: #2A5055;
  text-decoration: none;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.container {
  padding: 0 108.5px;
  margin: 0 auto;
}

.section {
  margin-top: 96px;
}

button {
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  html,
  body {
    font-size: 8px;
  }
  html .container,
  body .container {
    padding: 0 7rem;
  }
}
header {
  border: 1px solid black;
  height: 3.4rem;
  padding: 5px;
  background-color: #F0F1F3;
}
header .header_box {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: _;
  justify-content: space-between;
  align-items: center;
  align-content: _;
  gap: _;
  margin-top: 10px;
}
header .header_box_logo_name {
  color: #2A5055;
  font-size: 1rem;
  line-height: 32px;
}
header .header_box_nav ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: _;
  justify-content: _;
  align-items: _;
  align-content: _;
  gap: 2rem;
  color: #2A5055;
  font-size: 0.8rem;
}
header .header_box_button {
  display: flex;
  flex-wrap: _;
  flex-direction: _;
  justify-content: _;
  align-items: _;
  align-content: _;
  gap: 0.6rem;
}
header .header_box_button_donate {
  min-width: 4.2rem;
  min-height: 2rem;
  background-color: #2A5055;
  color: white;
  border-radius: 0.4rem;
  font-size: 0.7rem;
}
header .header_box_button_signup {
  min-width: 4.25rem;
  min-height: 2rem;
  border: 1px solid #2A5055;
  border-radius: 0.4rem;
  font-size: 0.7rem;
}
header .header_box_icon {
  min-width: 1.75rem;
  min-height: 1.75rem;
  display: none;
}

@media screen and (max-width: 992px) {
  header .header_box_logo_name {
    font-size: 20px;
  }
  header .header_box_nav {
    display: none;
  }
  header .header_box_button {
    display: none;
  }
  header .header_box_icon {
    display: block;
    font-size: 25px;
  }
}
.joined {
  max-width: 100%;
  height: 24rem;
  background-image: url(./page1.img/hand.png);
  display: flex;
  flex-wrap: _;
  flex-direction: _;
  justify-content: center;
  align-items: center;
  align-content: _;
  gap: _;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.joined_imgbox {
  height: 24rem;
}
.joined_box {
  display: flex;
  flex-wrap: _;
  flex-direction: _;
  justify-content: space-between;
  align-items: center;
  align-content: _;
  gap: _;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 28.2rem;
  height: 12.8rem;
  color: white;
  text-align: center;
  flex-direction: column;
}
.joined_box h2 {
  font-size: 1.8rem;
  font-weight: 500;
  color: white;
}
.joined_box button {
  cursor: pointer;
  width: 11.45rem;
  height: 3rem;
  border-radius: 0.4rem;
  background-color: #FA8F45;
  border: none;
  color: white;
}
.joined_box button span {
  font-size: 1rem;
}

@media screen and (max-width: 992px) {
  .joinedbox {
    width: 217px;
    height: 108px;
  }
}
.categories h2 {
  font-weight: 500;
  font-size: 32px;
}
.categories_imgcard {
  margin-top: 1rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: _;
  justify-content: _;
  align-items: _;
  align-content: _;
  gap: 1.2rem;
}
.categories_imgcard_box {
  position: relative;
  max-width: 288px;
  max-height: 268px;
}
.categories_imgcard_box img {
  width: 100%;
  gap: 1.2rem;
  border-radius: 8px;
}
.categories_imgcard_box_icon_box {
  display: flex;
  justify-content: space-between;
  width: 80%;
  left: 20px;
  bottom: 10px;
  position: absolute;
  color: white;
}
.categories_imgcard_box_icon_box span {
  font-size: 16px;
}
.categories_imgcard_responsive {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: _;
  justify-content: _;
  align-items: _;
  align-content: _;
  gap: 1.2rem;
  display: none;
}
.categories_imgcard_responsive img {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .categories h2 {
    text-align: center;
    font-size: 20px;
  }
  .categories_imgcard {
    display: none;
  }
  .categories_imgcard_responsive {
    display: block;
  }
}
.volunteers_cards {
  display: grid;
  gap: 1.2rem;
  grid-template-columns: auto auto auto;
}
.volunteers h2 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
}
.volunteers_card:nth-child(6) {
  border: 2px solid #667085;
  display: flex;
  flex-direction: column;
  padding: 102px 52px;
}
.volunteers_card:nth-child(6) span {
  padding-top: 16px;
}
.volunteers_card:nth-child(6) button {
  width: 8.8rem;
  height: 2.4rem;
  background-color: #C9EAEF;
  border-radius: 8px;
  border: none;
  margin-top: 3rem;
  color: #0E0F0F;
  font-size: 0.8rem;
}
.volunteers_card:nth-child(6) button .volunteers_card_icon_arrow {
  color: #344054;
  padding-left: 12px;
}
.volunteers_card {
  width: 19.6rem;
  height: 21.4rem;
  border-radius: 8px;
  border: 1px solid rgb(168, 167, 167);
}
.volunteers_card_title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: _;
  align-items: center;
  align-content: _;
  gap: 1.2rem;
  width: 17.05rem;
  height: 14rem;
  margin: 3.7rem 0 0 1.275rem;
}
.volunteers_card_title_icon {
  padding-top: 2rem;
  font-size: 2rem;
  color: #65c5d5;
}
.volunteers_card_title article {
  display: flex;
  flex-wrap: _;
  flex-direction: column;
  justify-content: _;
  align-items: center;
  align-content: _;
  gap: _;
  color: #292D35;
  font-size: 0.7rem;
  font-weight: 300;
  line-height: 1.2rem;
}
.volunteers_card_title h3 {
  padding-top: 1rem;
  color: #292D35;
  font-size: 1rem;
  font-weight: 600;
}

@media screen and (max-width: 992px) {
  .volunteers_cards {
    display: grid;
    gap: 1.2rem;
    grid-template-columns: auto auto;
  }
  .volunteers_cards p {
    display: none;
  }
  .volunteers_card_title_icon {
    font-size: 30px;
  }
  .volunteers_card h3 {
    font-size: 10px;
    margin-top: 20px;
    font-weight: 500;
  }
  .volunteers_card_display_on_text p {
    font-size: 10px;
  }
  .volunteers_card_display_none_text {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */