.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;

}
.products{
    display: grid;
    gap: 30px;
    margin: 20px 40px;
    grid-template-columns: repeat(4,1fr);
}
.search_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}
.filter_box{
    display: flex; align-items: center;
}
.search_box_bag{
    font-size: 20px;
    cursor: pointer;
}
.search_box_filter_icob{
    font-size: 30px;
    cursor: pointer;
}
.filter_box{
    border: 1px solid black;
    width: 120px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}