 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    background-color: #F5DEB3;
 }

 .box {
    display: flex;
    align-items: center;
    margin: 50px;
    width: 500px;
    height: 300px;

    img {
       border-radius: 10px;
    }

    &_icon {
      cursor: pointer;
      width: 460px;
       margin: 0 20px;
       display: flex;
       position: absolute;
       justify-content: space-between;
    }
 }