* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: #2A5055;
  text-decoration: none;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.container {
  padding: 0 108.5px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  html,
  body {
    font-size: 8px;
  }
  html .container,
  body .container {
    padding: 0 2rem;
  }
}
header {
  height: 3.4rem;
  padding: 5px;
  background-color: #F0F1F3;
}
header .header_box {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: _;
  justify-content: space-between;
  align-items: center;
  align-content: _;
  gap: _;
  margin-top: 10px;
}
header .header_box_logo_name {
  color: #2A5055;
  font-size: 1rem;
  line-height: 32px;
}
header .header_box_nav ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: _;
  justify-content: _;
  align-items: _;
  align-content: _;
  gap: 2rem;
  color: #2A5055;
  font-size: 0.8rem;
}
header .header_box_button {
  display: flex;
  flex-wrap: _;
  flex-direction: _;
  justify-content: _;
  align-items: _;
  align-content: _;
  gap: 0.6rem;
}
header .header_box_button_donate {
  min-width: 4.2rem;
  min-height: 2rem;
  background-color: #2A5055;
  color: white;
  border-radius: 0.4rem;
  font-size: 0.7rem;
}
header .header_box_button_signup {
  min-width: 4.25rem;
  min-height: 2rem;
  border: 1px solid #2A5055;
  border-radius: 0.4rem;
  font-size: 0.7rem;
}
header .header_box_icon {
  min-width: 1.75rem;
  min-height: 1.75rem;
  display: none;
}

@media screen and (max-width: 992px) {
  header .container {
    padding: 0 20px;
  }
  header .header_box_logo_name {
    font-size: 15px;
    margin-top: -15px;
  }
  header .header_box_nav {
    display: none;
  }
  header .header_box_button {
    display: none;
  }
  header .header_box_icon {
    display: block;
    font-size: 15px;
    margin-top: -15px;
  }
}
.page_name {
  margin-top: 2.6rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.announcements {
  margin-top: 2.6rem;
}
.announcements_navbar {
  display: flex;
  flex-wrap: _;
  flex-direction: _;
  justify-content: space-between;
  align-items: _;
  align-content: _;
  gap: _;
}
.announcements_navbar_search {
  display: flex;
  flex-wrap: _;
  flex-direction: _;
  justify-content: space-between;
  align-items: _;
  align-content: _;
  gap: 0.6rem;
}
.announcements_navbar_search_bar {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: _;
  justify-content: _;
  align-items: center;
  align-content: _;
  gap: 0.6rem;
}
.announcements_navbar_search_bar input {
  width: 12rem;
  height: 2.2rem;
  border-radius: 8px;
  position: relative;
  padding-left: 2.8rem;
  font-size: 0.6rem;
  line-height: 0.9rem;
}
.announcements_navbar_search_bar_icon {
  position: absolute;
  color: gray;
  padding-left: 1.2rem;
}
.announcements_navbar_search button {
  height: 2.2rem;
  border-radius: 8px;
  border: none;
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #667085;
}
.announcements_navbar_search button:nth-child(2) {
  color: white;
  padding: 0 20px;
  background-color: #2A5055;
}
.announcements_navbar_search button:nth-child(3) {
  padding: 0 20px;
  background-color: #F0F1F3;
}
.announcements_navbar_search button:nth-child(4) {
  padding: 0 20px;
  background-color: #F0F1F3;
}
.announcements_navbar_search button:nth-child(5) {
  padding: 0 20px;
  background-color: #F0F1F3;
}
.announcements_navbar_search button:nth-child(6) {
  padding: 0 20px;
  background-color: #F0F1F3;
}
.announcements_navbar_type {
  display: flex;
  justify-content: space-between;
}
.announcements_navbar_type button:nth-child(1) {
  padding: 0 20px;
  margin-left: 20px;
  height: 2.2rem;
  border-radius: 8px;
  border: none;
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #667085;
}
.announcements_navbar_type button:nth-child(2) {
  padding: 0 20px;
  margin-left: 20px;
  height: 2.2rem;
  border-radius: 8px;
  border: none;
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #667085;
  display: none;
}
.announcements_card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: _;
  justify-content: space-between;
  align-items: _;
  align-content: _;
  gap: 2.8rem;
  margin-top: 1.4rem;
}
.announcements_card_box {
  min-height: 26.75rem;
}
.announcements_card_box_imgbox {
  position: relative;
  display: flex;
}
.announcements_card_box_imgbox img {
  border-radius: 8px;
  max-width: 100%;
}
.announcements_card_box_imgbox_icon {
  right: 5%;
  top: 5%;
  position: absolute;
  background-color: #F0F1F3;
}
.announcements_card_box_information h3 {
  font-size: 1rem;
  line-height: 1.6rem;
  margin-top: 0.95rem;
}
.announcements_card_box_information_story {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
  margin-top: 8px;
}
.announcements_card_box_information_donationbox {
  margin-top: 15px;
}
.announcements_card_box_information_donationbox_time {
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 1.2rem;
}
.announcements_card_box_information_donationbox_bar {
  height: 10px;
  border-radius: 2px;
  background-color: #F0F1F3;
}
.announcements_card_box_information_donationbox_bar_left_card1 {
  width: 30%;
  height: 0.5rem;
  background-color: #FA8F45;
}
.announcements_card_box_information_donationbox_bar_left_card2 {
  width: 50%;
  height: 0.5rem;
  background-color: #FA8F45;
}
.announcements_card_box_information_donationbox_bar_left_card3 {
  width: 70%;
  height: 0.5rem;
  background-color: #FA8F45;
}
.announcements_card_box_information_donationbox_bar_left_card4 {
  width: 90%;
  height: 0.5rem;
  background-color: #FA8F45;
}
.announcements_card_box_information_donationbox_bar_left_card5 {
  width: 50%;
  height: 0.5rem;
  background-color: #FA8F45;
}
.announcements_card_box_information_donationbox_bar_left_card6 {
  width: 90%;
  height: 0.5rem;
  background-color: #FA8F45;
}
.announcements_card_box_information_donationbox_pricenow {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.6rem;
}
.announcements_card_box_information_donationbox_pricegoal {
  padding-left: 8px;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.4rem;
}
.announcements_button {
  width: 5.35rem;
  height: 2rem;
  border-radius: 8px;
  font-size: 0.7rem;
  line-height: 1.2rem;
  background-color: transparent;
  margin: 3.6rem 0 0 50%;
}

@media screen and (max-width: 992px) {
  .announcements_navbar_search {
    display: none;
  }
  .announcements_navbar_type {
    width: 100%;
  }
  .announcements_navbar_type button:nth-child(1) {
    margin: 0 0;
  }
  .announcements_navbar_type button:nth-child(2) {
    display: block;
  }
  .announcements_card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: _;
    justify-content: _;
    align-items: _;
    align-content: _;
    gap: _;
  }
}
footer {
  background-color: #F0F1F3;
  margin-top: 3.65rem;
}

.footer_navbar {
  height: 18.8rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
.footer_navbar_navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 6.4rem;
}
.footer_navbar_navigation_box {
  display: flex;
}
.footer_navbar_navigation_box h2 {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding-bottom: 0.8rem;
}
.footer_navbar_navigation_box ul {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  font-size: 0.8rem;
  line-height: 1.2rem;
}
.footer_navbar_navigation_email_form_input {
  width: 12.15rem;
  height: 2.4rem;
  border-radius: 0.4rem;
  background-color: #F0F1F3;
  border: 1px solid #A3A9B6;
}
.footer_navbar_navigation_email_form_btn {
  padding: 12px 20px;
  border-radius: 0.4rem;
  font-size: 20px;
  background-color: #FA8F45;
  color: white;
  border: none;
}

.footer_page_information {
  display: flex;
  height: 4.5rem;
  align-items: center;
  gap: 32.6rem;
}
.footer_page_information_text {
  display: flex;
  justify-content: space-evenly;
  font-size: 0.7rem;
  gap: 0.6rem;
}
.footer_page_information_icon {
  display: flex;
  gap: 1.5rem;
  color: #A3A9B6;
}

@media screen and (max-width: 992px) {
  html, body footer {
    font-size: 10px;
  }
  .footer_navbar_navigation_email_form_btn {
    padding: 7px 10px;
    font-size: 8px;
  }
}
@media screen and (max-width: 768px) {
  html .container, body footer .container {
    margin: 0 20px;
  }
  html .footer_page_information, body footer .footer_page_information {
    gap: 10rem;
  }
  html .footer_navbar_navigation_email_form_input, body footer .footer_navbar_navigation_email_form_input {
    width: 100%;
  }
  html .footer_navbar_navigation_email_form_btn, body footer .footer_navbar_navigation_email_form_btn {
    width: 100%;
  }
}
@media screen and (max-width: 376px) {
  .footer_page_information {
    margin-top: 200px;
  }
}/*# sourceMappingURL=annoucments.css.map */