@import "./mixins";

$--colorgreen:#2A5055;
$--colororange:#FA8F45; 

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    color: $--colorgreen;
    text-decoration: none;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.container {
    padding: 0 108.5px;
    margin: 0 auto;
}
.section {
    margin-top: 96px;
}

@media screen and (max-width:992px) {

    html,
    body {
        font-size: 8px;

        .container {
            padding: 0 7rem;

        }
    }
}

// ----------------------------Header start---------------------------

header {
    border: 1px solid black;
    height: 3.4rem;
    padding: 5px;

    .header_box {
        @include d-flex(flex, nowrap, _, space-between, center, _, _);

        &_logo_name {
            color: $--colorgreen;
            font-size: 1rem;
        }

        &_nav ul {
            @include d-flex(flex, nowrap, _, _, _, _, 2rem);
            color: $--colorgreen;
            font-size: 0.8rem
        }

        &_button {
            @include d-flex(flex, _, _, _, _, _, 0.6rem);


            &_donate {
                // min-width: 4.2rem;
                min-height: 2rem;
                background-color: $--colorgreen;
                color: white;
                border-radius: 0.4rem;
                font-size: 0.7rem;
                padding: 0.5rem 0 0 0.7rem;
                cursor: pointer;
            }

            &_signup {
                min-width: 4.25rem;
                min-height: 2rem;
                border: 1px solid $--colorgreen;
                border-radius: 0.4rem;
                padding: 0.5rem 0 0 0.7rem;
                cursor: pointer;
                font-size: 0.7rem;
            }
        }

        &_icon {
            min-width: 1.75rem;
            min-height: 1.75rem;
            display: none;
        }
    }
}

@media screen and (max-width:992px) {
    header {
        .header_box_logo_name {
            font-size: 20px;
        }

        .header_box_nav {
            display: none;
        }

        .header_box_button {
            display: none;
        }

        .header_box_icon {
            display: block;
            font-size: 25px;
        }
    }
}

// ----------------------------Header finis----------------------------