.product{
    width: 80%;
    margin:100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product_images{
    width: 440px;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product_images_main{
    width: 100%;
    height: 500px;
}

.product_images_main_img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.product_images_box{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.product_images_box_other{
    width: 90px;
    height:100px;
    border-radius: 10px;
    cursor: pointer;
}
.product_images_box_others {
    width: 90px;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
}

.product_info{
    width: 600px;
    height: 420px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.product_info_title{
    color: orange;
    font-size: 15px;
}

.product_info_name{
    font-size: 50px;
}

.product_info_decs{
    width: 90%;
    font-size: 20px;
    color: gray;
}

.product_info_sale_box_price{
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
}

.product_info_sale_box_percentage{
    background-color: #eec5a8;
    color: #FF7D1B;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.product_info_sale_box{
    display: flex;
    align-items: center;
}

.product_info_sale_dis-percentage{
    color: gray;
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
}

.product_buy{
    display: flex;
    gap: 20px;
}

.product_buy_btn_icon{
    font-size: 25px;
    margin-top: -5px;
}
.product_buy_btn_desc{
    padding-left: 20px;
    font-weight: 600;
}

.product_buy_counter{
    width: 150px;
    height: 50px;
    border-radius: 8px;
    background:rgb(240, 242, 243);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.product_buy_counter_minus{
    color: #FF7D1B;
    font-size: 40px;
    cursor: pointer;
}

.product_buy_counter_count{
    font-size: 20px;
}

.product_buy_counter_plus{
    color: #FF7D1B;
    font-size: 30px;
    cursor: pointer;
}

.button {
  cursor: pointer;
    --width: 250px;
    --height: 50px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #FF7D1B;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.5em;
    font-family: "Arial";
    transition:  0.7s;
  }
  
  .button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: #FF7D1B;
    font-size: 0.9rem;
    color: #fff;
    border-radius: 0.25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
  .button::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #FF7D1B;
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .button::after,
  .button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-wrapper,
  .text,
  .icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  
  .text {
    top: 0;
  }
  
  .text,
  .icon {
    transition: top 0.5s;
  }
  
  .icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon svg {
    width: 24px;
    height: 24px;
  }
  
  .button:hover {
    background: #FF7D1B;
  }
  
  .button:hover .text {
    top: -100%;
  }
  
  .button:hover .icon {
    top: 0;
  }
  
  .button:hover:before,
  .button:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }
  
  .product_buy_btn {
    width: 10px;
    height: 10px;
}
.button .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .icon svg {
  width: 80%;
  height: 80%;
}

.main_img_box {
  display: block !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 400px;
  height: 400px;
  display: flex;
}
.main_img_box_img{
  width: 100%;
  height: 100%;
}