* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container{
    margin: 15px 20px;
}
.information{
    width: 500px;
    min-height: 160px;
    border: 1px solid white;

    &_box{ 

        &_text1{
            margin:10px 0px;
            font-size: 22px;
            color: white;
            display: flex;
            justify-content: space-between;

            .icon{
                cursor: pointer;
            }
        }

        &_text2{
            margin:10px 0px;
            color: gray;
            overflow: hidden;
            height: 0px;
        }
    }
}

.information_box_text2{
    transition: 1s;
}

.active .information_box_text2{
    height: 55px;
}

.active .information_box_text1{
    .icon{
        transform: rotate(180deg);
    }
}