.toDoWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toDoWrapper_imgbox {
  width: 100%;
  height: 18.75rem;
}

img {
  width: 100%;
  height: 100%;
}

.todoform_box {
  position: absolute;
  top: 9.875rem;
  width: 33.75rem; 
  min-height: 4.375rem;
  background: var(--body-bg-color);
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0.313rem 0.938rem; 
}

.toDoWrapper_header {
  position: absolute;
  top: 4.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.938rem;
  width: 33.813rem; 
  height: 3rem;
  color:var(--body-bg-color);
}

.todoform_box_footer {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
  border-top: 0.063rem solid gray;
  color: var(--body-text);
}

p:hover {
  cursor: pointer;
  color: blue;
} 

ul{
  display: flex;
  flex-direction: column;
}
.todoform_box_footer_status_filter_box{
  display: flex;
  gap: 1.5rem;
}
.todoform_box_footer_status_filter{
  cursor: pointer;
}

.todoform_box_footer_status_filter:hover{
  color: blue;
}
.moonIcon{
  cursor: pointer;
}