.btn{
    padding: 12px 20px;
    border-radius: 8px;
}

.success{
  background-color: blue;    
  color: white;
}

.simple{
    background-color: rgb(243, 239, 239);
    color: black;
} 

.create{
  background-color: green;
  color: white;
  margin: 20px;
}